<h5>Recipe details</h5>
<div class="card">
  <img src="https://www.dudleysquaregrille.com/files/images/about-us.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a longer card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Add to list</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
