<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h5>Shopping list</h5>
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action active text-white"
          style="cursor: pointer;"
        >
          Cras justo odio
        </a>
        <a class="list-group-item list-group-item-action" style="cursor: pointer;"
        >Dapibus ac facilisis in</a
        >
        <a class="list-group-item list-group-item-action" style="cursor: pointer;"
        >Morbi leo risus</a
        >
        <a class="list-group-item list-group-item-action" style="cursor: pointer;"
        >Porta ac consectetur ac</a
        >
        <a
          class="list-group-item list-group-item-action disabled"
          style="cursor: pointer;"
          tabindex="-1"
          aria-disabled="true"
        >Vestibulum at eros</a
        >
      </div>
    </div>
  </div>
</div>
